.table-striped tbody > tr:nth-child(odd) > td {
    background-color: #eeeeee;
}
.table-striped tbody > tr > th {
    background-color: #cccccc;
}

.padded {
    width: 90%;
    margin: 50px 50px;
}

